*~
*.bak*
*.pyc
*.orig
*.blend1
*.blend2

.DS_Store
.AppleDouble

# build files

*.o
*.a
*.la
*.lai
*.so*
dc1394/camera.h
dc1394/code.sh
dc1394/dc1394
dc1394/dc1394_sa
dc1394/definitions.h
dc1394/grab_gray_image.c
dc1394/out.wmv
dc1394/pngfilm.cpp
dc1394/test.png
dc1394/writepng.c
readout
readout_zmq
standalone
filename
webcam
webcam_sa

arduino/flash/applet
