*~
*.bak*
*.pyc
*.orig
*.blend1
*.blend2

.DS_Store
.AppleDouble

# build files

*.o
*.a
*.la
*.lai
*.so*
dc1394/camera.h
dc1394/code.sh
dc1394/dc1394
dc1394/dc1394_sa
dc1394/definitions.h
dc1394/grab_gray_image.c
dc1394/out.wmv
dc1394/pngfilm.cpp
dc1394/test.png
dc1394/writepng.c
usb3/.deps/
usb3/.ipynb_checkpoints/
usb3/Makefile
usb3/Makefile.in
usb3/Untitled.ipynb
usb3/aclocal.m4
usb3/arv-camera-test
usb3/autom4te.cache/
usb3/compile
usb3/config.guess
usb3/config.log
usb3/config.status
usb3/config.sub
usb3/configure
usb3/depcomp
usb3/install-sh
usb3/libtool
usb3/ltmain.sh
usb3/missing
usb3/m4/glib-gettext.m4
usb3/m4/gtk-doc.m4
usb3/m4/intltool.m4
usb3/m4/introspection.m4
usb3/m4/libtool.m4
usb3/m4/ltoptions.m4
usb3/m4/ltsugar.m4
usb3/m4/ltversion.m4
usb3/m4/lt~obsolete.m4
usb3/m4/nls.m4
usb3/m4/pkg.m4
readout
readout_zmq
standalone
filename
webcam
webcam_sa

arduino/flash/applet
